.container{
    /* height: 2rem;
    display: flex;
    justify-content: end;
   
  
    padding: 5px 10px; */
    background-image: none;
    position: relative;
    position: relative;
    color: #111111;
    --effect-scale: 1.1;
    font-size: 1rem;
    line-height: 1.6;
}
.rapper{
    pointer-events: none;
    min-height: 80px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.header{
    pointer-events: initial;
    margin: 0 auto;
    opacity: 1;
    display: table;
    white-space: nowrap;
    position: relative;
    line-height: 1;
    color: #111111;
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
}
.head{
    pointer-events: initial;
    white-space: nowrap;
    line-height: 1;
}

.ul{
    font-size: 1rem;
    letter-spacing: normal;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    white-space: nowrap;
    line-height: 1;
    color:#111111;
    font-family: 'Open Sans',sans-serif;
    display: flex;
}
.li{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: -webkit-match-parent;
    font-size: 1rem;
    letter-spacing: normal;
    list-style: none;
    pointer-events: initial;
    white-space: nowrap;
    line-height: 1;
    color:#111111;
    font-family: 'Open Sans',sans-serif;
   
}
.link{
   
    padding: 10px 20px;
    color: inherit;
    font-size: inherit;
     font-family: inherit;
     line-height: inherit;
     letter-spacing: inherit;
     text-transform: inherit;
     text-decoration: none;
     display: block;
     white-space: nowrap;
     font-style: inherit;
     font-weight: inherit;
     border: 0 none transparent;
     outline-width: 0;
     background-color: transparent;
     margin: 0;
 
 }

.link:visited{
    color: blue;
}
.link:hover{
    color: red;
}
.log{
    cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1199px){
.rapper{
    width: var(--theme-sheet-width-lg) !important;
}
}