.form{
    height: 457px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(#6c92f8, #2f65f5);
    color: #111111;
    position: relative;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.header{
   
    box-shadow: 0px -2px 26px 0 rgba(0,0,0,0.25);
    margin: -388px 60px auto 60px;
    stroke: none;
    border-left-width: 0;
    border-color: #2f65f5;
    border-left-style: none;
    border-right-width: 0;
    border-right-style: none;
    border-top-width: 0;
    border-top-style: none;
   
  
    color: #111111;
    background-color: #ffffff;
    border-radius: 46px !important;
    /* border-width: 20px;
    border-style: solid; */
    text-align: center;
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 40rem;
   left: 20rem;
    top: 5rem;
    border-bottom: 5px solid #2f65f5;

}
.container{
    border-radius: 46px !important;
    padding: 50px 30px;
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
    box-sizing: border-box;
    display: block;
    color: #111111;
    stroke: none;
    text-align: center;

}

.heading{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    position: relative;
    line-height: 1.1;
    padding: 0;
    color: #2f65f5 !important;
    word-wrap: break-word;
    display: table;
    align-self: flex-start;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    --effect-scale: 1.1;
    text-align: center;
    
}
.formcontainer{
    width: 570px;
    margin: 26px auto 0;
    position: relative;
    font-size: 1rem;
    height: auto !important;
    display: block;
    color: #111111;
    text-align: center;
    border: none;
}
.main{
    margin-left: -10px;
    width: calc(100% + 10px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 0em;
    font-size: 1rem;
    color: #111111;
    text-align: center;
    border: none;
}
.label{
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0px;
    color: #c0c0c0 !important;
    font-weight: normal;
    cursor: default;
    text-align: start;
    margin-top: 1rem;
}
.datain{
    background-image: none;
    border-color: #e5e5e5;
    color: #111111;
    background-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    /* background-color: transparent; */
    color: inherit;
    height: auto;
    font: inherit;
    writing-mode: horizontal-tb !important;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}
.buttoncontainer{
    padding-left: 10px;
    margin-bottom: 0 !important;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: #111111;
}
.button{
    width: 96%;
    padding: 10px 30px;
    margin-top: 1rem;
    margin-right: 5rem;
    margin-bottom: 1px;
    position: relative;
    background-color: #2f65f5;
    color: #ffffff;
    display: inline-block;
    font-size:inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 0;
}
.registation{
    color: #2f65f5 !important;
    border-style: none none solid;
    align-self: center;
    margin: 27px 85px 0 auto;
    padding: 0;
    border-style: none none solid;
    margin: 27px 85px 0 auto;
    position: relative;
    display: table;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 0;
}
@media (max-width: 991px){ .container{
    padding-top: 30px;
    padding-bottom: 30px;
}
}
@media (max-width: 575px){ .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
@media (max-width: 575px) {.heading{
    font-size: 1.5rem;
}}
